@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    margin:0;
	min-height:100vh;
    font-family: 'Open Sans', sans-serif;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-color: #FFFDFA;
 }

 #navbar{
    background-color: #FFFDFA;
 }
 