
* { 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
	color: #2a2727;
    
}
div{
    padding: 2px;
    border: 2px solid green;
}

p{
    margin: 5px auto;
}

img {
    border-radius: 5px 5px 0 0;
  }
  .layout {
    width: 100%;
  
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
.container {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
}

.navbar{
    height: 10vh;
    width: 100%;
    background: #E2D1F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar > ul{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    list-style: none;
}

.navbar > ul>li{
    padding: 5px;
    display: block;
    background-color: #FCEDDA;
    color: #EE4E34;
    font-weight: bold;
    border-radius: 8px;
}
.navbar > ul>img{
    width: 50px;
    display: block;
    padding: 10px;
    
}

.main{
    padding: 20px;
    width: 100%;
    height: 70vh;
    background: white;
    display: flex;
    flex-direction: column;
    
}
.course--title{
    padding: 20px;
    align-self: center;
    color: #EE4E34;
    font-size: 1.5rem;
    line-height: 1.7rem;
    }
.course--img{
    align-self: center;
    width: 500px;
    border-radius: 5px;
    border: 2px solid #eee;
    padding: 20px;
    
}
.course--text{
    align-self: flex-start;
    text-shadow: #000;
}
.footer{
    position:fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
    color: #fff;
    text-align: center;
    background: #000;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
