* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;}

.container {
    width: 100%;
    display: flex;
    border: 1px solid red;
}

.navbar{
    height: 50px;
    width: 100%;
    display: flex;
    border: 1px solid blue;
}

.footer{
    margin-bottom: 5px;
    height: 25px;
    width: 100%;
    color: #fff;
    background: #000;
}
